<div id="mainContainer">

    <h3>Hello World</h3>

    <div class="alert alert-success">Hello from Bootstrap!</div>

    <select data-role="dropdownlist" data-bind="value: ddChoice, events: {change: ddChanged}" data-value-primitive="true">
        <option>First Choice</option>
        <option>Second Choice</option>
    </select>

    <input data-role="datepicker" />
</div>

<script src="~/Scripts/indexViewModel.js" type="text/javascript"></script>
